* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav-container {
    width: 200px;
    position: fixed;
    top: 1vh;
    right: 2vw;
    background-color: red;
}

#header-container {
    width: 100vw;
    height: 50vh;
    background-color: #3399ff;
    color: white;
}

#header-content-container {
    display: flex;
    flex-direction: column;
    width: 76vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

#greeting-container {
    margin-top: 5vh;
}

#introduction-text1 {
    margin-top: 5vh;
}

#introduction-text2 {
    margin-top: 5vh;
}

h1 {
    font-size: 85px;
}

p {
    font-size: 50px;
}

#body-container {
    background-color: white;
}

#body-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5vh;
    width: 76vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.project-container {
    display: flex;
    background-color: #3399ff;
    border-radius: 20px;
    overflow: hidden;
}

.project-header-container {
    width: 30%;
    height: 15%;
    align-self: end;
    background-color: #3399ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}