* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}

#nav-container {
    position: relative;
    background-color: #3399ff;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    /* border: 2px solid red; */
}

.icon {
    height: 1.75vh;
}

#email-icon, #linkedin-logo {
    padding-left: 1.5vw;
}

nav {
    margin-left: 4vw;
    margin-right: 3.5vw;
}

#hamburger-button {
    background: transparent;
}

#hamburger-icon {
    color: white;
    height: 1.75vh;
    width: 1.75vh;
    display: flex;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25em);
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    opacity: 0;
    pointer-events: none;
    transition-delay: opacity 300ms ease-in, transform 150ms ease-in;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.link {
    color: #3399ff;
    font-size: 50px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#header-container {
    height: 35vh;
    background-color: #3399ff;
    color: white;
    font-family: sans-serif;
}

#header-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2vh;
    width: 75vw;
    height: 28vh;
    margin-top: 2vh;
    margin-left: 12.5vw;

    /* border: 3px solid red; */
}
    
#greeting-text {
    grid-area: 1 / 1 / 2 / 2;
    width: 62vw;
    height: 6vh;
    font-size: 3.3vh;
    display: flex;
    align-items: center;

    /* border: 2px solid yellow; */
}

#profile-picture {
    grid-area: 1 / 2 / 2 / 3;
    height: 6vh;
}

#introduction-text1 {
    grid-area: 2 / 1 / 3 / 3;
    height: 9vh;
    font-size: 2.1vh;
    line-height: 1.1;

    /* border: 3px solid yellow; */
}

#introduction-text2 {
    grid-area: 3 / 1 / 4 / 3;
    height: 9vh;
    font-size: 2.1vh;
    line-height: 1.1;

    /* border: 3px solid yellow; */
}

#body-container {
    background-color: white;
    
    border: 2px solid red;
}

#body-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5vh;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 5vh;

    border: 2px solid red;
}

.project-container {
    height: 15vh;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #3399ff;
    border-radius: 20px;
    overflow: hidden;
}

#rocket-container {
    margin-left: 12vw;
    align-self: center;
}

#rocket-gif {
    display: block;
    height: 8em;
}

#roadmap-project-header-container, #practice-project-header-container {
    font-family: sans-serif;
}

.project-header-container {
    width: 30%;
    align-self: end;
    margin-left: 1em;
    color: white;
}

@font-face {
    font-family: 'digital-rain';
    src: url('assets/fonts/digital-rain.ttf') format('truetype');
}

.matrix {
    position: relative;
    font-family: 'digital-rain';
    font-weight: bold;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.matrix-column {
    position: absolute;
    top: -310%;
    opacity: 0.8;
    animation: matrixRain linear infinite;
    text-shadow: linear-gradient(rgba(0, 255, 0, 0.1), transparent, white);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.matrix-column span:first-child {
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white;
}

@keyframes matrixRain {
    to {
        transform: translateY(calc(100% + 200px)); 
    }
}

.matrix span {
    display: block;
    transform: rotate(90deg);
    margin-bottom: 5px;
}